Importamos la libreria de Pandas

In [1]:
import pandas as pd

Establecemos un formato de despliegue de dos decimales para los valores decimales o _float_

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

## Primer Archivo de Muestra

Cargamos nuestro un archivo de Excel **sin formato**

In [ ]:
datos = pd.read_excel("datos.xlsx")

Mostramos los datos del _DataFrame_ en nuestra variable **datos**

In [ ]:
datos.head()

## Segundo Archivo de Muestra

Cargamos un archivo de Excel **con formato** de un reporte de **_Generación de Desperdicios por País_** extraído de https://stats.oecd.org 

Donde indicamos que vamos a cargar unicamente los datos de la hoja "**OECD.Stat export**", además omitimos (_skiprows_) las primeras 4 filas, y las últimas (_skipfooter_) 4 filas

In [ ]:
datos = pd.read_excel("WasteBySector.xlsx",
                       sheet_name='OECD.Stat export',
                       skiprows=4,
                       skipfooter=4)

Mostramos los datos del _DataFrame_ asignado a la variable **datos**

In [ ]:
datos.head(30)

a la función de la carga de Excel se le agrega como parámetro las columnas que deseamos cargar, en nuestro caso es la columna **A**, y las columnas de la **C** hasta la **K**

In [3]:
datos = pd.read_excel("WasteBySector.xlsx",
                       sheet_name='OECD.Stat export',
                       skiprows=4,
                       skipfooter=4,
                       usecols="A,C:K")

Mostramos los datos del _DataFrame_ asignado a la variable **datos**

In [ ]:
datos.head()

Cambiamos el nombre de la columna **Year** (año) por **Country** (País)

In [4]:
datos.rename(columns={'Year':'Country'},inplace=True)

Mostramos los datos del _DataFrame_ asignado a la variable **datos**

In [ ]:
datos.head()

Eliminamos la primera fila y precerbamos el cambio en el _DataFrame_

In [5]:
datos.drop(index=0,axis="index",inplace=True)

Mostramos los datos del _DataFrame_ asignado a la variable **datos**

In [6]:
datos.head()

,Country,2004,2006,2008,2010,2012,2014,2015,2016,2018
1,Austria,"53,020.95","54,286.6","56,308.77","46,799.58","48,045.09","55,868.3",..,"61,225.04","65,666.13"
2,Belgium,"52,809.34","59,351.72","48,621.91","61,345.8","53,839.47","57,965.39",..,"63,152.38","67,613.23"
3,Czech Republic,"29,275.74","24,745.75","25,419.7","23,757.57","23,171.36","23,394.96",..,"25,381.43","27,913.45"
4,Denmark,"12,588.95","14,703.14","15,155.21","16,217.74","16,713.82","20,808.84",..,"20,981.93","21,445.9"
5,Estonia,"20,860.68","18,932.9","19,583.86","19,000.2","21,992.34","21,804.04",..,"24,277.88","23,185.58"

Restablecemos el valor del índice del _DataFrame_ de Pandas y precerbamos el cambio en la variable actual

In [7]:
datos.reset_index(drop=True,inplace=True)

Mostramos los datos del _DataFrame_ asignado a la variable **datos**

In [8]:
datos.head()

,Country,2004,2006,2008,2010,2012,2014,2015,2016,2018
0,Austria,"53,020.95","54,286.6","56,308.77","46,799.58","48,045.09","55,868.3",..,"61,225.04","65,666.13"
1,Belgium,"52,809.34","59,351.72","48,621.91","61,345.8","53,839.47","57,965.39",..,"63,152.38","67,613.23"
2,Czech Republic,"29,275.74","24,745.75","25,419.7","23,757.57","23,171.36","23,394.96",..,"25,381.43","27,913.45"
3,Denmark,"12,588.95","14,703.14","15,155.21","16,217.74","16,713.82","20,808.84",..,"20,981.93","21,445.9"
4,Estonia,"20,860.68","18,932.9","19,583.86","19,000.2","21,992.34","21,804.04",..,"24,277.88","23,185.58"

Mostramos la información del _DataFrame_

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  27 non-null     object
 1   2004     27 non-null     object
 2   2006     27 non-null     object
 3   2008     27 non-null     object
 4   2010     27 non-null     object
 5   2012     27 non-null     object
 6   2014     27 non-null     object
 7   2015     27 non-null     object
 8   2016     27 non-null     float64
 9   2018     27 non-null     object
dtypes: float64(1), object(9)
memory usage: 2.2+ KB

Convertimos los valores numericos a Float. En este caso son las columnas de los años

In [10]:
for col in datos.columns[1:]:
    datos[col] = pd.to_numeric(datos[col], errors='coerce')

Mostramos nuevamente la información de las columnas para corroborar que el tipo de dato se haya cambiado.

In [11]:
  datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  27 non-null     object
 1   2004     26 non-null     float64
 2   2006     25 non-null     float64
 3   2008     26 non-null     float64
 4   2010     26 non-null     float64
 5   2012     26 non-null     float64
 6   2014     26 non-null     float64
 7   2015     1 non-null      float64
 8   2016     27 non-null     float64
 9   2018     26 non-null     float64
dtypes: float64(9), object(1)
memory usage: 2.2+ KB

Mostramos los datos del _DataFrame_ asignado a la variable **datos**

Desplegando la información dentro del DataFrame

In [13]:
datos.head(30)

,Country,2004,2006,2008,2010,2012,2014,2015,2016,2018
0,Austria,"53,020.95","54,286.60","56,308.77","46,799.58","48,045.09","55,868.30",NaN,"61,225.04","65,666.13"
1,Belgium,"52,809.34","59,351.72","48,621.91","61,345.80","53,839.47","57,965.39",NaN,"63,152.38","67,613.23"
2,Czech Republic,"29,275.74","24,745.75","25,419.70","23,757.57","23,171.36","23,394.96",NaN,"25,381.43","27,913.45"
3,Denmark,"12,588.95","14,703.14","15,155.21","16,217.74","16,713.82","20,808.84",NaN,"20,981.93","21,445.90"
4,Estonia,"20,860.68","18,932.90","19,583.86","19,000.20","21,992.34","21,804.04",NaN,"24,277.88","23,185.58"
5,Finland,"69,708.48","72,205.48","81,792.85","104,336.90","91,824.20","95,969.89",NaN,"122,869.20","128,195.30"
6,France,"296,580.90","312,297.80","345,002.20","355,081.30","344,731.90","324,463.00",NaN,"322,685.30","342,387.90"
7,Germany,"364,021.90","363,786.10","372,796.30","363,545.00","368,022.20","387,504.30",NaN,"400,071.70","405,523.60"
8,Greece,"33,346.96","51,324.66","68,643.96","70,432.70","72,328.28","69,758.87",NaN,"72,332.35","45,592.60"
9,Hungary,"24,660.92","22,287.48","16,949.20","16,735.42","16,310.15","16,650.64",NaN,"15,938.08","18,369.59"
10,Iceland,501.43,NaN,772.58,510.94,529.35,815.15,NaN,"1,067.32","1,293.51"
11,Ireland,"24,499.14","29,599.18","22,502.82","19,807.59","12,713.02","15,166.83",NaN,"15,251.69","13,986.76"
12,Italy,"139,806.10","155,025.00","179,257.50","158,627.60","154,427.00","157,870.30",NaN,"163,827.80","172,502.80"
13,Korea,NaN,NaN,NaN,NaN,NaN,NaN,"175,208.00","180,367.00",NaN
14,Latvia,"1,257.22","1,858.55","1,495.08","1,498.20","2,309.58","2,621.49",NaN,"1,909.63","1,773.73"
15,Lithuania,"7,010.18","6,361.11","6,333.35","5,578.13","5,678.75","6,200.45",NaN,"6,674.24","7,080.54"
16,Luxembourg,"8,315.77","8,378.91","9,592.14","10,441.47","8,397.23","7,072.76",NaN,"10,130.08","9,014.40"
17,Netherlands,"92,448.12","99,166.56","102,648.60","121,145.50","121,194.50","132,362.30",NaN,"141,024.00","145,241.00"
18,Norway,"7,453.56","9,913.29","10,286.64","9,433.00","10,720.87","10,614.91",NaN,"11,131.59","14,137.72"
19,Poland,"137,478.50","153,628.90","138,984.60","158,662.00","162,383.00","179,179.90",NaN,"182,005.70","175,143.50"
20,Portugal,"29,317.29","34,952.77","16,882.92","13,640.08","13,359.52","14,368.00",NaN,"14,739.13","15,894.87"
21,Slovak Republic,"10,668.41","14,501.50","11,472.01","9,384.11","8,425.38","8,862.78",NaN,"10,606.97","12,401.87"
22,Slovenia,"5,770.51","6,035.83","5,038.40","5,986.11","4,546.51","4,686.42",NaN,"5,494.36","8,220.68"
23,Spain,"160,668.10","160,946.60","149,254.20","137,518.90","118,561.70","110,518.50",NaN,"128,958.50","137,822.90"
24,Sweden,"91,759.47","94,971.30","86,168.59","117,645.20","156,306.50","167,026.90",NaN,"141,625.70","138,667.60"
25,Turkey,"58,820.31","46,091.63","64,764.50","63,540.63","67,383.77","73,075.12",NaN,"75,534.65","97,294.07"
26,United Kingdom,"298,798.80","291,147.40","282,222.10","241,820.00","241,690.40","263,319.50",NaN,"277,255.00","282,209.80"